.App {
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.full-screen-image {
  min-height: 800px;
  position: fixed;
  bottom: -90px;
  width: 100%;
  z-index: -1;
  background-attachment: fixed;
  background-position: center bottom;
  overflow-x: hidden;
  background-repeat: no-repeat;
  background-size: cover;
}

.section {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
}

.sec-one {
}

.sec-two {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  background-color: white;
  color: black;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}

.sec-two-text {
  margin-bottom: 100px;
}

.sec-two-header {
  margin-left: 50px;
}

.sec-two-description {
  margin-left: 50px;
}

.sec-three {
  background-color: rgb(144, 144, 144);
}

.sec-four {
  background-color: white;
  color: black;
}


@media (max-width: 1400px) {
  .full-screen-image {
    min-height: 800px;
    position: fixed;
    bottom: -90px;
    left: 50%;
    transform: translateX(-50%);
    width: auto;
    height: 100%;
    z-index: -1;
    background-attachment: fixed;
    background-position: center bottom;
    overflow-x: hidden;
    background-repeat: no-repeat;
    background-size: contain;
  }
}