.App {
  text-align: center;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.under-construction {
  padding-top: 110px;
  font-size: 20px;
  font-family: 'Gothic A1';
  text-align: center;
  background-color: #000;
  padding-bottom: 40px;
}

.full-screen-image {
  min-height: 800px;
  position: fixed;
  width: 100%;
  z-index: -2;
  background-attachment: fixed;
  background-position: center bottom;
  overflow-x: hidden;
  background-repeat: no-repeat;
  background-size: cover;
}

.linktree-button {
  background-color: #8a75ad; /* Light purple */
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
  font-size: 16px;
  display: inline-block;
  transition: background-color 0.3s, transform 0.3s; /* Smooth transition for hover effects */
}

.linktree-button:hover {
  background-color: #593f81; /* Slightly darker purple for hover effect */
  transform: translateY(-2px); /* Slight lift effect on hover */
  box-shadow: 0 4px 8px rgba(0,0,0,0.2); /* Shadow for depth */
}

.section {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  position: sticky;
  top: 0;
}

@media (max-width: 1400px) {
  .full-screen-image {
    min-height: 800px;
    position: fixed;
    bottom: -90px;
    left: 50%;
    width: auto;
    height: 100%;
    z-index: -1;
    background-attachment: fixed;
    background-position: center bottom;
    overflow-x: hidden;
    background-repeat: no-repeat;
    background-size: contain;
  }
}

@media (max-width: 1400px) {
  .full-screen-image {
    min-height: 800px;
    position: fixed;
    bottom: -90px;
    left: 50%;
    width: auto;
    height: 100%;
    z-index: -1;
    background-attachment: fixed;
    background-position: center bottom;
    overflow-x: hidden;
    background-repeat: no-repeat;
    background-size: contain;
  }
}

@media (max-width: 957px) {
  .knob {
    width: 100px;
  }
  .knob-row {
    flex-direction: row;
  }
  .sec-two {
    flex-direction: column;
  }
}