.header-content {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    align-items: center;
    position: fixed;
    top: 0;
    min-height: 90px;
    width: 100%;
    background-color: #000000E6;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
    color: #fff;
    z-index: 1;
    padding: 0 20px;
}

.slo-logo {
    font-family: 'Libre Barcode 39 Text';
    font-size: 48px;
    margin: 0;
    padding: 10px 0;
}

.header-links {
    display: flex;
    gap: 20px;
    align-items: center;
    position: relative;
}

.right-header-links {
    display: flex;
    gap: 20px;
    justify-self: center;
    align-items: center;
    /* margin-right: 50px; */
    position: relative;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 80px;
    padding: 10px;
    border: 1px solid #ddd;
    z-index: 1;
    color: black;
    right: 0;
    top: 36px;
}

.dropdown:hover .dropdown-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.mobile-dropdown-content {
    display: flex;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 60px;
    padding: 10px;
    border: 1px solid #ddd;
    z-index: 1;
    color: black;
    right: 0;
    top: 36px;
}

.mobile-dropdown-content.visible {
    flex-direction: column;
    display: flex;
}

.dropdown img {
    max-width: 100px;
    cursor: pointer;
}

.white-link {
    color: white;
    text-decoration: none;
}

.black-link {
    color: black;
    text-decoration: none;
    text-align: end;
}

.white-link.active {
    font-weight: bold;
}

.profile-nav {
    margin-right: 20px;
}

.mobile-nav {
    display: none;
    position: relative;
}

.mobile-nav-icon {
    cursor: pointer;
    color: white;
    font-size: 30px;
}

.profile-nav-icon {
    cursor: pointer;
    margin-right: 20px;
}

@media (max-width: 957px) {
    .header-content {
        flex-direction: column;
        padding-left: 0;
        gap: 0;
    }
    .header-links {
        margin-right: 0;
    }
    .slo-logo {
        margin-top: 15px;
    }
    .profile-nav {
        margin-right: 0;
    }
    .profile-nav-icon {
        margin-right: 0px;
    }
}

@media (max-width: 640px) {
    .slo-logo {
        margin-top: 0px;
        padding-left: 20px;
        font-size: 24px;
    }
    .header-content {
        flex-direction: row;
    }
    .right-header-links {
        display: none;
    }
    .mobile-nav {
        margin-right: 20px;
        display: block;
    }
    .profile-nav {
        display: none;
    }
}